/** HEADER **/
#nav-list a {
	font-size: 1.1em;
}

#nav-list a:hover {
	background-color: #e3dfdf;
}

.active {
	background-color: #e3dfdf
}

.jumbotron {
	border-radius: 0;
	padding: 2rem 2rem;
}

.btn-lg {
	padding: 0.1rem 2em;
}

.carousel .carousel-item {
    height: 300px; 
}