/** HEADER **/
#nav-list a {
	font-size: 1.1em;
}

#nav-list a:hover {
	background-color: #e3dfdf;
}

.active {
	background-color: #e3dfdf;
}

.list-unstyled a {
	text-decoration: none;
	color: #000;
}

.list-unstyled a:hover {
	color: #b3b4b7;
	background-color: rgb(219, 221, 225);
}

.list-unstyled .active {
	background-color: rgb(219, 221, 225);
	color: #b3b4b7;
}

.jumbotron {
	border-radius: 0;
	padding: 2rem 2rem;
}

.btn-lg {
	padding: 0.1rem 2em;
}

.carousel .carousel-item {
    height: 300px; 
}

footer {
  background-color: rgb(219, 221, 225);
  color: #000;
  margin: 0px auto;
  padding: 20px 0px;
}